# /etc/systemd/system/can-watchdog.service

[Unit]
Description=CAN Activity Watchdog
Documentation=http://www.isoblue.org/
After=ib_up@ib_imp.service ib_up@ib_eng.service
ConditionPathExists=/opt/isoblue2/can_watchdog

[Service]
Type=simple
ExecStart=/opt/isoblue2/can_watchdog/can_watchdog.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
