[Unit]
Description=CAN Tractor Bus Message Rate Report
Documentation=http://www.isoblue.org/
Requires=broker.service zookeeper.service
After=can_up@tra.service broker.service
ConditionPathExists=/opt/bin

[Service]
Type=simple
ExecStart=/bin/bash -c '/opt/bin/can_msg_rate /opt/id tra'
Restart=on-failure
RestartSec=1
