[Unit]
Description=CAN Tractor Bus Log Local
Documentation=http://www.isoblue.org/
Requires=broker.service zookeeper.service
After=can_up@tra.service broker.service
ConditionPathExists=/opt/bin

[Service]
Type=simple
ExecStart=/bin/bash -c '/opt/bin/kafka_can_log -i tra -t tra'
Restart=on-failure
RestartSec=1
