# /etc/systemd/system/kafka-gps-log.service

[Unit]
Description=Kafka GPS Log Service
Documentation=http://www.isoblue.org/
Requires=kafka-server.service
After=kafka-server.service gpsd.service
ConditionPathExists=/opt/isoblue2/kafka_gps_log

[Service]
Type=simple
ExecStart=/opt/isoblue2/kafka_gps_log/kafka_gps_log.py
ExecStartPost=/bin/bash -c '/bin/echo heartbeat > /sys/class/leds/LED_4_GREEN/trigger'
ExecStopPost=/bin/bash -c '/bin/echo none > /sys/class/leds/LED_4_GREEN/trigger'
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
