# /etc/systemd/system/kafka-gps-log.service

[Unit]
Description=Kafka GPS Log Service
Documentation=http://www.isoblue.org/
Requires=kafka-server.service gpsd.service
After=gpsd.service
ConditionPathExists=/opt/isoblue2/kafka_gps_log

[Service]
Type=simple
ExecStart=/opt/isoblue2/kafka_gps_log/kafka_gps_log.py
# Restart=on-failure
# Restart=2s

[Install]
WantedBy=multi-user.target
