# /etc/systemd/system/kafka-server.service

[Unit]
Description=Apache Kafka Service
Documentation=http://kafka.apache.org/documentation.html
Requires=zookeeper.service
After=network.target zookeeper.service
ConditionPathExists=/opt/kafka

[Service]
Type=simple
ExecStart=/opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/server.properties
ExecStartPost=/bin/bash -c '/bin/echo 0 > /sys/class/leds/LED_4_RED/brightness'
ExecStop=/opt/kafka/bin/kafka-server-stop.sh
ExecStopPost=/bin/bash -c '/bin/echo 255 > /sys/class/leds/LED_4_RED/brightness'
# Restart=on-failure
# Restart=2s

[Install]
WantedBy=multi-user.target
