[Unit]
Description=Network Strength Report Service
Documentation=http://www.isoblue.org/
Requires=broker.service mirror.service zookeeper.service
After=broker.service zookeeper.service mirror.service
ConditionPathExists=/opt/bin

[Service]
Type=simple
ExecStart=/bin/bash -c '/opt/bin/net_strength /opt/id'
Restart=on-failure
RestartSec=2
