[Unit]
Description=Port forward port %I to vip4.ecn.purdue.edu

[Service]
ExecStart=/usr/bin/ssh -NR *:%i:localhost:22 isoblue2@vip4.ecn.purdue.edu
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
