# /etc/systemd/system/zookeeper.service

[Unit]
Description=Apache ZooKeeper Service
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target remote-fs.target 
After=network.target remote-fs.target
ConditionPathExists=/opt/kafka

[Service]
Type=simple
ExecStart=/opt/kafka/bin/zookeeper-server-start.sh /opt/kafka/config/zookeeper.properties
ExecStop=/opt/kafka/bin/zookeeper-server-stop.sh
# Restart=on-failure
# Restart=2s

[Install]
WantedBy=multi-user.target
