# /etc/systemd/system/zookeeper.service

[Unit]
Description=Apache ZooKeeper Service
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target remote-fs.target 
After=network.target remote-fs.target
ConditionPathExists=/opt/kafka

[Service]
Type=simple
ExecStart=/opt/kafka/bin/zookeeper-server-start.sh /opt/kafka/config/zookeeper.properties
ExecStartPost=/bin/bash -c '/bin/echo 0 > /sys/class/leds/LED_5_RED/brightness'
ExecStop=/opt/kafka/bin/zookeeper-server-stop.sh
ExecStopPost=/bin/bash -c '/bin/echo 255 > /sys/class/leds/LED_5_RED/brightness'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
